{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
</head>
<body>

<button id="button" class="animated">
    <img src="{% static 'img/flag.png' %}" alt="Mert">
</button>

<div class="header">
    <h1>Mert official</h1>
    <h>Istanbul</h>
</div>

<div id="popup">
    <div id="popup-content">
        <div id="menu" class="product">
            <a class="block" href="/about" data-translate-key="about">About us</a>
            <a class="block" href="/products" data-translate-key="products">Products</a>
            <a class="block" href="/" data-translate-key="main">Main</a>
        </div>
    </div>
</div>

<div class="slider">
    <div class="slides">
        <div class="slide"><img src="{% static 'img/img1.jpg' %}" alt="Image 1"></div>
        <div class="slide"><img src="{% static 'img/img2.jpg' %}" alt="Image 2"></div>
        <div class="slide"><img src="{% static 'img/img3.jpg' %}" alt="Image 3"></div>
        <div class="slide"><img src="{% static 'img/img4.jpg' %}" alt="Image 4"></div>
    </div>
</div>

<div>
    <h1>Mert Unal</h1>
    <p class="lan" data-translate-key="owner">
        Is the owner of a network of branded stores <br>
        And the production of branded products of Turkish quality. <br>

        Throughout Istanbul, in the places of Taksim, Besiktas, Uskudar, Kadikoy, Beylarbey, Bakirkoy, Esenyurt, there are 12 branded stores owned by Mert Unal. <br>
        The most central and discount store is located in the heart of Istanbul at the <br>Grand Bazaar.</p>
</div>

<div class="slider">
    <div class="slides">
        <div class="slide"><img src="{% static 'img/mert1.jpg' %}"></div>
        <div class="slide"><img src="{% static 'img/mert2.jpg' %}"></div>
        <div class="slide"><img src="{% static 'img/mert3.jpg' %}"></div>
    </div>
</div>

<nav class="footer">
    <ul class="list">
        <li class="lang"><button class="translate" id="usa"> <img src="{% static 'img/usa.png' %}" alt="usa"> </button></li>
        <li class="lang"><button class="translate" id="ukr"> <img src="{% static 'img/ukr.png' %}" alt="ukr"> </button></li>
        <li class="lang"><button class="translate" id="tr"> <img src="{% static 'img/tr.png' %}" alt="tr"> </button></li>
        <li class="lang"><button class="translate" id="arab"> <img src="{% static 'img/arab.png' %}" alt="arab"> </button></li>
    </ul>
</nav>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>

