{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/products.css' %}">
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
  <title>Красивая галерея</title>
</head>
<body>

  <button id="button" class="animated">
      <img src="{% static 'img/flag.png' %}" alt="Mert">
  </button>

  <div id="popup">
    <div id="popup-content">
        <div id="menu" class="product">
            <a class="block" href="/about" data-translate-key="about">About us</a>
            <a class="block" href="/products" data-translate-key="products">Products</a>
            <a class="block" href="/" data-translate-key="main">Main</a>
        </div>
    </div>
  </div>



    <div class="gallery">
    <div class="gallery-item">
      <img src="{% static 'img/glasses/glasses0.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses3.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses5.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses6.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses8.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses9.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses11.jpg' %}" alt="Image 1">
      <img src="{% static 'img/glasses/glasses12.jpg' %}" alt="Image 1">
    </div>

    <div class="gallery-item">
      <img src="{% static 'img/glasses/glasses1.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses2.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses4.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses7.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses10.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses13.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses14.jpg' %}" alt="Image 2">
      <img src="{% static 'img/glasses/glasses15.jpg' %}" alt="Image 2">
    </div>

    <div class="gallery-item">
      <img src="{% static 'img/bags/bags0.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags1.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags2.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags3.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags4.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags5.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags6.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags7.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags8.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags9.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags10.jpg' %}" alt="Image 3">
    </div>

    <div class="gallery-item">
      <img src="{% static 'img/bags/bags11.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags12.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags13.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags14.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags15.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags16.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags17.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags18.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags19.jpg' %}" alt="Image 3">
      <img src="{% static 'img/bags/bags20.jpg' %}" alt="Image 3">
    </div>

    <div class="gallery-item">
      <img src="{% static 'img/parfume/parfume0.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume1.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume2.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume3.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume4.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume5.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume6.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume7.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume8.jpg' %}" alt="Image 4">
      <img src="{% static 'img/parfume/parfume9.jpg' %}" alt="Image 4">
    </div>

    <div class="gallery-item">
      <img src="{% static 'img/watch/watch0.jpg' %}" alt="Image 5">
      <img src="{% static 'img/watch/watch1.jpg' %}" alt="Image 5">
      <img src="{% static 'img/watch/watch2.jpg' %}" alt="Image 5">
      <img src="{% static 'img/watch/watch3.jpg' %}" alt="Image 5">
      <img src="{% static 'img/watch/watch4.jpg' %}" alt="Image 5">
      <img src="{% static 'img/watch/watch5.jpg' %}" alt="Image 5">
    </div>
  </div>

  <nav class="footer">
    <ul class="list">
        <li class="lang"><button class="translate" id="usa"> <img src="{% static 'img/usa.png' %}" alt="usa"> </button></li>
        <li class="lang"><button class="translate" id="ukr"> <img src="{% static 'img/ukr.png' %}" alt="ukr"> </button></li>
        <li class="lang"><button class="translate" id="tr"> <img src="{% static 'img/tr.png' %}" alt="tr"> </button></li>
        <li class="lang"><button class="translate" id="arab"> <img src="{% static 'img/arab.png' %}" alt="arab"> </button></li>
    </ul>
  </nav>


  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
